@model IEnumerable<Item>
@{
    ViewData["Title"] = "Home Page";
}

@section Banner
{
    <div class="jumbotron jumbotron-fluid" id="banner">
        <div class="container">
            <h3 class="text-white font-weight-bold banner-title">Kupuj szybko, tanio i bezpiecznie w Shoplate</h3>
            <p class="lead text-white">
                Kupuj szybko, tanio i bezpiecznie w Shoplate<br />
                Jakość to nasze drugie imię.
            </p>
        </div>
    </div>
}

<div class="row container mainpage">
    <div class="col-sm-4 mainpage-elem text-center">
        <i class="fa-solid fa-truck-fast" style="color: #ff8514;"></i>
        <h5>Kupuj szybko bez wychodzenia z domu</h5>
    </div>

    <div class="col-sm-4 mainpage-elem text-center">
        <i class="fa-solid fa-cart-flatbed" style="color: #557E55;"></i>
        <h5>Szeroki wachlarz produktów na każdą kieszeń</h5>
    </div>

    <div class="col-sm-4 mainpage-elem text-center">
        <i class="fa-regular fa-clock" style="color: #ff4284;"></i>
        <h5>Planowany czas dostawy 24h od złożenia zamówienia</h5>
    </div>
</div>