@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Polityka prywatności Shoplate</h1>
<p>Niniejsza Polityka prywatności określa, w jaki sposób Shoplate zbiera, używa, utrzymuje i ujawnia informacje gromadzone od użytkowników (zwanych dalej "Użytkownikami") na stronie internetowej Shoplate (zwanej dalej "Stroną"). Niniejsza Polityka prywatności dotyczy również informacji gromadzonych przez nas przez inne środki komunikacji, takie jak e-mail czy telefoniczne rozmowy.</p>

<h2>1. Informacje identyfikujące</h2>
<p>Podczas korzystania z naszej Strony, możemy zbierać informacje identyfikujące od Użytkowników na różne sposoby, w tym, ale nie ograniczając się do, wypełnienia formularzy zamówień, rejestracji na stronie, subskrypcji newslettera, odpowiedzi na ankiety oraz w związku z innych działań, usług, funkcji lub zasobów dostępnych na naszej Stronie. Użytkownikom może być wówczas prośba o podanie imienia, nazwiska, adresu e-mail, numeru telefonu, adresu wysyłkowego itp. Użytkownicy mogą jednak odwiedzać naszą Stronę anonimowo. Zbieramy informacje identyfikujące tylko wtedy, gdy Użytkownicy świadomie nam je przekazują. Użytkownicy mogą odmówić podania informacji identyfikujących, jednakże może to wpłynąć na niektóre działania związane z korzystaniem z naszej Strony.</p>

<h2>2. Informacje nieidentyfikujące</h2>
<p>Możemy gromadzić informacje nieidentyfikujące od Użytkowników w czasie, gdy korzystają oni z naszej Strony. Informacje nieidentyfikujące mogą obejmować takie dane jak przeglądarkę internetową, typ komputera oraz techniczne informacje o połączeniu Użytkownika z naszą Stroną, takie jak system operacyjny i dostawcę usług internetowych wykorzystywany przez Użytkownika.</p>

<h2>3. Wykorzystanie zebranych informacji</h2>
<p>Shoplate może gromadzić i wykorzystywać informacje identyfikujące Użytkowników w następujące sposób:</p>
<ul>
    <li>Aby dostosować do potrzeb Użytkowników nasze usługi i zwiększyć satysfakcję z ich korzystania</li>
    <li>Aby ulepszać naszą Stronę na podstawie informacji i opinii Użytkowników</li>
    <li>Aby przetwarzać transakcje - wprowadzone przez Użytkowników informacje będą wykorzystywane jedynie do realizacji zamówień. Nie będą one sprzedawane, wymieniane, udostępniane innym osobom ani na żadne inne sposoby rozpowszechniane bez zgody Użytkowników, z wyjątkiem celów związanych z dostarczeniem zamówionych produktów lub świadczeniem usług.</li>
    <li>Aby wysyłać okresowe e-maile - adresy e-mail Użytkowników mogą być wykorzystywane do przekazywania im informacji i aktualizacji dotyczących ich zamówień, a także do informowania o nowościach, aktualnościach, promocjach itp. Jeśli Użytkownik zdecyduje się na subskrypcję naszego newslettera, otrzymywać będzie on wiadomości e-mail dotyczące firmy, nowości, ofert itp. Jeżeli Użytkownik woli nie otrzymywać takich wiadomości, może zrezygnować z subskrypcji w dowolnym momencie, stosując się do instrukcji zawartych w każdej wiadomości e-mail.</li>
</ul>

<h2>4. Ochrona informacji</h2>
<p>Przyjmujemy odpowiednie środki bezpieczeństwa, zarówno techniczne, jak i organizacyjne, w celu ochrony informacji identyfikujących Użytkowników przed nieautoryzowanym dostępem, utratą, wykorzystaniem lub ujawnieniem.</p>

<h2>5. Udostępnianie informacji osobom trzecim</h2>
<p>Nie sprzedajemy, nie handlujemy ani nie wynajmujemy informacji identyfikujących Użytkowników osobom trzecim. Może się jednak zdarzyć, że udostępnimy ogólne, nieidentyfikujące dane demograficzne i informacje o naszych Użytkownikach, partnerom biznesowym, zaufanym firmom i reklamodawcom w celach opisanych wcześniej.</p>

<h2>6. Akceptacja warunków</h2>
<p>Korzystając z naszej Strony, Użytkownik wyraża zgodę na niniejszą Politykę prywatności. Jeśli Użytkownik nie zgadza się z tą Polityką, prosimy o niekorzystanie z naszej Strony. Kontynuowanie korzystania ze Strony po wprowadzeniu zmian w niniejszej Polityce zostanie uznane za akceptację tych zmian.</p>

<h2>7. Zmiany w Polityce prywatności</h2>
<p>Shoplate ma prawo do aktualizowania niniejszej Polityki prywatności w dowolnym momencie. Zalecamy Użytkownikom regularne sprawdzanie tej strony w celu uzyskania informacji o ewentualnych zmianach. Użytkownik przyjmuje na siebie odpowiedzialność za regularne zapoznawanie się z niniejszą Polityką i dostosowywanie swojego postępowania do jej aktualnej wersji.</p>

<p>Jeśli Użytkownik ma jakiekolwiek pytania dotyczące niniejszej Polityki prywatności, prosimy o kontakt z nami poprzez podane informacje kontaktowe na naszej Stronie.</p>
<h5>Wygenerowano przy użyciu Wielkiego Czatu Dżi Bu Ti</h5>